html{
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  padding: 20px;
}

h2,h3,p {
  margin: 0;
}

.card{
  width: 600px;
  height: 400px;
  box-shadow: 2px 0px 7px -1px rgba(0,0,0,0.79);
  border-radius: 5px;
  overflow: hidden;
}

.top-card{
  width: 100%;
  height: 45%;
  padding: 25px;
}

.bottom-card{
  width: 100%;
  height: 55%;
  color: #fafafa;
}

#left-section{
  background-color: #2ab2af;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  padding: 25px;
}

#right-section{
  background-color: #4fc2bf;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  padding: 25px;
}

.top-card h2{
  margin-bottom: 20px;
  color: #2ab2af;
}
.top-card h3{
  margin-bottom: 20px;
  color: #c0df34;
}
.top-card p{
  color: #98a6bd;
}
button{
  color: white;
  background-color: #c0df34;
  padding: 10px;
  width:100%;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}
button:hover{
  cursor: pointer;
  background-color: #d8f263;
  box-shadow: 2px 0px 13px 0px rgba(0,0,0,0.82);
  transform: scale(1.01);
  
}
#price{
  font-weight: 700;
  font-size: 1.4rem;
}
#priceFrequency{
  color: #a9b9d4;
  position: relative;
  top: -3px;
  left: 5px;
  font-size: 0.9rem;
  opacity: 0.9;
}
#price, #priceFrequency{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}
ul{
  opacity: 0.8;
  padding: 0;
  list-style: none;
}
